$font-family-sans-serif: 'Montserrat', sans-serif;

$primary: #fca311;
$secondary: #14213d;

$nav-link-color: text-secondary;

.btn-width {
    width: 100px !important;
}

.nav-link.active {
    border-bottom: solid red !important;
    font-weight: 600;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";